body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Haettenschweiler, sans-serif; 
    background-color: aliceblue;
    font-size: clamp(1.25rem, 0.9375rem + 1vw, 1.5rem);
    font-weight: 300;
    color: hsl(220, 35%, 8%);
}




hgroup {
    margin-bottom: 1rem;
}

.h1 {
    font-weight: 700;
    font-size: clamp(2rem, -1rem + 6vw, 3.5rem);
    letter-spacing: -1px;
    text-transform: capitalize;
}

.h2 {
    font-weight: 400;
    font-size: clamp(1.5rem, 0.875rem + 2vw, 2rem);
    line-height: 1.1;
    margin-bottom: 1rem;
    letter-spacing: -1px;
}

h3 {
    margin-bottom: 1.5rem;
    font-size: clamp(1.25rem, 0.3125rem + 3vw, 2rem);
}

.intro {
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.intro__p {
    font-weight: 400;
}

p {
    margin: 0;
    line-height: 1.1;
}

ul {
    padding-left: 1rem;
    padding-bottom: .25rem;
    margin-bottom: 0;
}

ul li {
    padding-bottom: .75rem;
    line-height: 1.1;
}
ul li ul {
    margin-top: .5rem;
}
ul li ul li{
    list-style: none;
}
ul li:last-child {
  padding-bottom: 0;
}

/* .card {
    padding: clamp(1rem, -1.5rem + 8vw, 3rem) !important;
    border-radius: 1.25rem;
    backdrop-filter: blur(12px) saturate(140%);
    -webkit-backdrop-filter: blur(12px) saturate(140%);

    border: 3px solid hsla(0, 0%, 100%, 0.35);
    background: linear-gradient(
        120deg,
        rgba(0, 255, 136, 0.1),
        rgba(255,255,255,0) 50%
    );
    box-shadow:
        0 8px 32px rgba(0, 255, 136, 0.3),
        0 0 0 1px rgba(255, 255, 255, 0.2) inset;

    max-height: 100vh;
} */

.card {
    display: block;
    position: relative;
    padding: clamp(1rem, -1.5rem + 8vw, 3rem) !important;
    border-radius: 1.25rem;
    backdrop-filter: blur(14px) saturate(120%);
    -webkit-backdrop-filter: blur(14px) saturate(120%);
    height: auto;
    background: linear-gradient(
        120deg,
        hsla(160, 60%, 60%, 0.12),
        hsla(0, 0%, 100%, 0.45) 55%
    );

    border: 1px solid hsla(160, 40%, 70%, 0.35);

    box-shadow:
        0 12px 32px rgba(20, 40, 60, 0.15),
        0 0 0 1px rgba(255, 255, 255, 0.4) inset;

}


.hero{

    position:relative;
    overflow:hidden;
    background-color: hsla(0, 0%, 99%, 0.4);
    padding: 0 !important;
    margin-bottom: 1.5rem;
    /* box-shadow:
        0 8px 32px rgba(80, 200, 170, 0.35),
        0 0 0 1px rgba(255, 255, 255, 0.2) inset; */
    min-height: 30vh;
    border: 2px solid hsla(160, 40%, 70%, 0.35);
}

.hero img {
    width: 100%;
    height: 100% !important;
    min-height: 30vh;
    object-fit: cover;
    overflow: hidden;
    filter:
        hue-rotate(100deg)
        grayscale(90%)
        /* contrast(2.25) */
        opacity(0.8);
    object-position: center center;
    
}
hr {
    border-color: #090207;
}
.map {
    overflow: hidden;
    border-radius: .5rem;
    margin-bottom: 1rem;
    
}

.map iframe {
    width: 100%;
    border: 0;
}

.infos {
    padding: 1rem;   
}

.programme {
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.adresse {
    /* background-color: aqua; */
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.inscription {
    /* background-color: green; */
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.adresse ul {
    margin-top: 1rem;
}
#rsvp-form {
    padding-top: 1rem;
    
}

.form-control {
    border-radius: 1.25rem;
    border: solid .0625rem #090207;
    
}

.form-check-input {
    border: solid .0625rem #090207;
    cursor: pointer;
}

.btn-primary {
    background-color: hsl(220, 35%, 8%);
    border: #090207;
    border-radius: 1.25rem;
    padding: .5rem 1.5rem;
    border: solid 1px black;

}
.btn-primary:hover {
    background-color: white;
    color: #090207;
    border: solid 1px black;

}
#thankyou-popup {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
    
#thankyou-popup .popup-content {
    background: #fff;
    padding: 2rem 2.5rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    position: relative;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
    
#thankyou-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

footer {
    margin-top: 2rem;
    padding-right: .5rem;
    padding-bottom: .25rem;
    color: hsl(220, 35%, 8%);
    font-size:.75rem
}

@media screen and (min-width: 1020px) {

    .programme li, .stay p, .form-control {
        max-width: 70%;
    }
    .flex {
        display: flex;
        gap: 1.5rem;
    }
    .intro {
        max-width: 60%;
    }
 }  